/* CSS code in style.css file */
body {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    background-color: #ffffff;
    margin: 4% 10%;
    text-align: center;
  }
  
  h1 {
    font-size:30px;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  h2{
    color: rgb(0, 0, 0);
  }
  
  p {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    line-height: 1.2;
    color: #000000;
  }

  #mlsmail{
    text-align:center;
    color: rgb(85, 14, 183);
    font-size: 20px;
    font-weight: 600;
    margin-top: auto;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  nav {
    justify-content: center;
    display: flex;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    margin:0;
    padding:0;
  }
  
a{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    width: 100px;
    margin: 5px 5px;
    font-size: 15px;
  }

  #lnkcurr{ 
    color: rgb(85, 14, 183);
  }
  
  a:hover {
    background-color: rgba(200, 156, 218, 0.218);
  }

.sponsorimages-img{
  width: 80vmin;
  max-height: 20px;
  margin: 25px auto 0 auto; /*top right bottom left */
  display: block;
}  

.logo{
  text-align: center;
}

.signup{
  display: inline-block;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
}

.annual{ 
  font-size:20px;
}

@media screen and (max-width: 530px) {
  p {
    font-size: 3vw;
  }
  h1 {
    font-size:5vw;
  }
  #mlsmail{
    font-size: 4vw;
  }
  .form{
    font-size: 3vw;
  }
  nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo {
    width: 40vw;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    margin:0;
    padding:0;
  }
  a{
    padding: 0.5vw 0.5vw;
    width: 7em;
    margin: 0.5vw 0.5vw;
    font-size: 3vw;
  }


  .signup{
    font-size: 3vw;
  }
  .annual{
    font-size:4vw;
  }
  .logo{
    overflow: hidden;
  }

  .sponsors-img{
width: 45vw;
height: 30px;
    overflow: hidden;
  }
  .eventpics{
    width: 65vw;
  }
}
/*Note that the media query rule must come after any other CSS rules in your stylesheet, or it may not work correctly.*/

